body {margin: 0; padding: 0;}

table {width: 100%; border-collapse: collapse;}

thead {
    font-size: 11px;
    background-color: #EFEFEF;
    text-align: left;
}

th {font-weight:normal; padding:4px 2px;}

#event-list {
    font-size:11px;
    font-family: monospace;
}

#event-list .event_body {
    display: flex;
}

#event-list .category {
    width: 30%;
    padding:2px 4px;
}

#event-list .action {
    width: 45%;
    padding:2px 4px;
}

#event-list .label {
    width: 25%;
    padding:2px 4px;
}

.event, thead th {
    border: 1px solid #CCC;
}

.thead th {
    background-color: #EFEFEF;
}

.event.recent {
    background-color: #FAFA66;
}

.fading {
    transition: background-color 2s ease-out;
}

tr:hover, tr:hover td {
    background-color: #E0E0E0;
}

tr.pageview, tr.pageview td{
    background-color: #AAFFAA;
}

.menu {
    padding:4px;
    background-color: #EFEFEF;
}