#gaoi_analyzer {
    font-size: 12px !important;
    position:fixed;
    bottom: 0;
    right: 0px;
    opacity: 0.8;
    min-width:200px;
    min-height:20px;
    z-index:999999;
    background-color: #DDD;
    padding: 8px;
    overflow:auto;
    max-height:40%;
    max-width:50%;
    color: #000;
    transition: opacity 0.3s, color 0.5s; 
}

#ga-oi-events, #gaoi_analyzer{
    pointer-events: none;
}

#gaoi_analyzer:hover {
    opacity: 1;
    color: #111;
}

#gaoi_analyzer.ga-analyzer-left {
    left: 0px;
    right: auto;
}

#gaoi_analyzer a {
    color: #222;
}

#gaoi_analyzer .ga-popup-title {
    font-size: 16px !important;
    text-align:center;
}

#gaoi_analyzer .ga-popup-title .right-menu {
    float:right;
    white-space: nowrap;
}

#gaoi_analyzer .ga-popup-title .right-menu a {
    padding: 2px 4px;
    pointer-events: auto;
}

#gaoi_analyzer.ga-analyzer-hidden .hidable {
    display: none;
}

#gaoi_analyzer .showable {
    display: none;
}

#gaoi_analyzer.ga-analyzer-hidden .showable {
    display: inline-block;
}

#ga_oi_events th:not(:first-child) {
    min-width: 150px;
}

#ga_oi_events td{
    font-size: 12px !important;
    border-bottom:1px solid #FAFAFA;
    padding: 2px 12px;
}

#ga_oi_events tr:hover {
    background-color: #EEE;
}

#ga_oi_events_close_popup {
    font-size: 0.8em;
}

.ul_separator {
    color:#CCC;
}

.popup-tag {
    position:absolute;

}